<!DOCTYPE html>
<html lang="en">
 <%- include('shared/head') %>

<body>
  
    <%- include('shared/header') %>
    <section>
        <div>
            <h1>this is the body</h1>
        </div>       
    </section> 

</body>
</html> 