<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tittle of the page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo|Volkhov&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:700&display=swap" rel="stylesheet">    
  </head> 
  <body>

	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#2">ABOUT ME</a>
	  <a href="#3">MY WAY OF LIFE</a>
	  <a href="#5">CONNECT</a>
	</div>
	<div class="icon">
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
	</div>
	<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";


	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	}
	</script>
  
    <section class="partOne">
        	<div class="upper">
            	<h1>Hey, I'm</h1>
            	<p>Matheus Barbosa</p>
          </div>     
    </section> 
    <a name="partTwo"></a>
    <section class="partTwo" id="2">
        <div>

        	<h1>Hare's what I've done so far</h1>
          <hr>

        	<div class="thingsIveDone">
            <div class="column1">
        		  <img src="/static/ucl.svg">
            </div>
            <div class="column2">
            	<h2>USPCodelab</h2>
            	<h3>Tutoring team, since 2019</h3>
            	<p>Developed ways to teach HTML, CSS and JavaScript to students from tech courses and other Majors as like Marketing or engineering.</p>
            </div>
          </div>

          <div class="thingsIveDone">
            <div class="column1">
          	 <img src="/static/b4a.png">
            </div> 
            <div class="column2">
            	<h2>B4A group</h2>
            	<h3>Development Intern, from December 2018 to April 2019</h3>
            	<p>I queried SQL and used data bases work in practice to fixed bugs and helped the clients with their account needs .I also helped on a integretion of one suplier using API requests to send and recieve important data for products track.</p><p>
               I'm grateful for the time spent in this company and those folks, whose give the start point to my carrear with tech.
              </p>
             </div> 
          </div>

           <div class="thingsIveDone">
            <div class="column1">
           	  <img src="/static/estacao.png">
            </div>  
            <div class="column2">
            	<h2>Facebook bootcamp</h2>
            	<h3>August 2018</h3>
            	<p>In a four week Bootcamp hosted by Facebook and Mastertech .I learned good practices for web development and I developed aplications using Node.JS, Express and React and Mongo Db for non-relational data-base.</p>
             </div> 
          </div>

          <div class="thingsIveDone">
            <div class="column1">
          	 <img src="/static/each.jpg">
            </div> 
            <div class="column2">
            	<h2>Universidade de São Paulo</h2>
            	<h3>B.S in Information Systems, started in 2019</h3>
            	<p>During those two years at USP I'm having the opportunity to grow as a person and profecionally , due the challenge exposure and diversity that this university offer. As a tech student I'm havig a good base from mathematics and Computer Science principles to enhance my learning ,that I can be exposed to any situation and go in the best direction to figer out the problems.</p><p>USP showed me what I love to do, gifted me with a love for learning, and surrounded me with a wealth of inspiring peers.</p>
            </div>  
          </div>
          
        </div>       
    
    <section class="partThree" id="3">
   			<h1>My way of life</h1>
        <hr>

        <div class="articles">
     			<ul>
            <li><a href="https://www.amazon.com.br/Good-They-Cant-Ignore-You/dp/1455509124"target="_blank">Be good that they can't ingnore you</a></li>
            <li><a href="https://asana.com/resources/how-prioritize-tasks-work"target="_blank">Prioritaze what matters moast</a></li>
            <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4142584/"target="_blank"target="_blank">Stay connected to your soul<a></li>
            <li><a href="https://www.cafonline.org/my-personal-giving/long-term-giving/resource-centre/five-reasons-to-give-to-charity"target="_blank">Help each other</a></li>  
          </ul>
   		 </div>
   	</section>
   	<section class="partFive" id="5">
   		<div>
   			<h1>My contacts</h1>
        <hr>
        <div class="footer">
          <p>Lets get in touch</p>
          <div class="row">
            <div class="column">
              <a href="https://www.linkedin.com/in/matheus-barbosa-0a6959137/" target="_blank">
                <img src="/static/in.jpg">
              </a>
            </div>
            <div class="column">
              <a href="https://github.com/barmath" target="_blank">
                <img src="/static/git.svg">
              </a>
            </div>
     			</div>
     			<p>Email : matheus_barbosa@usp.br<p>
          <div clas="resume">
            <a href="/static/resumeMatheusBarbosa.pdf" target="_blank">View resume</a>
          </div>
   		 </di>
   		</div>
   	</section>


</body>
</html> 