<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Matheus Barbosa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tittle of the page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo|Volkhov&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:700&display=swap" rel="stylesheet">    
  </head> 
  <body>

	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#2">ABOUT ME</a>
	  <a href="#3">MY WAY OF LIFE</a>
	  <a href="#5">CONNECT</a>
	</div>
	<div class="icon">
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
	</div>
	<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";


	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	}
	</script>
  
    <section class="partOne">
        	<div class="upper">
            	<h1>Hey, I'm</h1>
            	<p>Matheus Barbosa</p>
          </div>     
    </section> 
    <a name="partTwo"></a>
    <section class="partTwo" id="2">
        <div>

        	<h1>Here's what I've done so far</h1>
          <hr>

          <div class="thingsIveDone">
            <div class="column1">
          	 <img src="/static/cmulogo.png">
            </div> 
            <div class="column2">
            	<h2>Carnegie Mellon University</h2>
            	<h3>Research Intern, from January to December 2020</h3>
              <p>At CMU I worked at the Computer Science with Dr. Bruce McLaren, along with the School of Engineer to create a generic system to teach how to use 3D printing machines, using Virtual Reality Headsets.</p>
              <p>In this project we created a client-server architecture to feed a framework at runtime load it with a the selected machine into the VR headset along with instructions for the machine operation.</p>
              <a href="/static/paper.pdf" target="_blank">Paper of the project</a>
            </div>  
          </div>

          <div class="thingsIveDone">
            <div class="column1">
          	 <img src="/static/empiricuslogo.png">
            </div> 
            <div class="column2">
            	<h2>Empiricus Research</h2>
            	<h3>Business Intelligence Intern, from September to December 2019</h3>
              <p>My main contribution was to conduct A/B studies by querying datasets for specific needs and create compelling presentations to give insights to different teams.</p>
              <p>I also automated different processes related to variable datasets so they queried daily.</p>
            </div>  
          </div>

        	<div class="thingsIveDone">
            <div class="column1">
        		  <img src="/static/ucl.svg">
            </div>
            <div class="column2">
            	<h2>USPCodelab</h2>
            	<h3>Tutoring team, from March to December 2019</h3>
            	<p>At Codelab me along with more than a dozen students, we organized the biggest university hackathon in Brazil called Interhack, also we organized dozens of hiring events connecting students with companies like Google, Facebook and Microsoft etc. In this group I also created and taught classes of programming logic and intro to programming using JavaScript CSS and HTML for non-programers.</p>
            </div>
          </div>

          <div class="thingsIveDone">
            <div class="column1">
          	 <img src="/static/b4a.png">
            </div> 
            <div class="column2">
            	<h2>B4A group</h2>
            	<h3>Software Engineer Intern, from December 2018 to April 2019</h3>
            	<p>At my first experience as in Software Engineeing using .NET framework and SQL I implemented a functionality so employers could fix shipping status without need to request the IT department to do it.</p><p>
                Also given the requirements I integrated different suppliers APIs to our internal system so we can have a more accurate track for more suppliers, it also received ~10,000 requests a day.
              </p>
             </div> 
          </div>

          <div class="thingsIveDone">
            <div class="column1">
           	  <img src="/static/estacao.png">
            </div>  
            <div class="column2">
            	<h2>Facebook bootcamp</h2>
            	<h3>August 2018</h3>
              <p>In a four week Bootcamp hosted by Facebook and Mastertech. I learned good practices for web development and I developed aplications using HTML, CSS JavaScript also a bried introduction about Node.JS, ExpressJS and React frameworks and MongoDb.</p>
              <p>My team was selected as the one with the best idea on the demoday, also I had to present in public of +130 including Software Engineers, investors and CTOs</p>
             </div>
             
             </div> 
          </div>

          <div class="thingsIveDone">
            <div class="column1">
          	 <img src="/static/usplogo.png">
            </div> 
            <div class="column2">
            	<h2>Universidade de São Paulo</h2>
            	<h3>B.A in Information Systems, class of 2021</h3>
            	<p>I'm in my junior year and at USP in what is considered the best univerty of latin america, and based on my experiaces it cannot be diferent the experiaces and things I've been learning there, from all the ground base of Computer Science like data Structures, algorithms, operational systems, data bases, distributed systems etc. to the most advanced subjects like artifecial inteligence and machine learning.</p><p>USP showed me what I love to do, gifted me with a love for learning, and surrounded me with a wealth of inspiring peers.</p>
            </div>  
          </div>

          
          
        </div>       
    
    <section class="partThree" id="3">
   			<h1>My way of life</h1>
        <hr>

        <div class="phrase">
     			<i> I have as a strong value aways put effort in the things that I'm committed to. Flexibility to different situations and opinions is also a thing that I consider a lot in my life.</i>
   		 </div>
   	</section>
   	<section class="partFive" id="5">
   		<div>
   			<h1>My contacts</h1>
        <hr>
        <div class="footer">
          <p>Lets get in touch</p>
          <div class="row">
            <div class="column">
              <a href="https://www.linkedin.com/in/matbarbosa/" target="_blank">
                <img src="/static/in.jpg">
              </a>
            </div>
            <div class="column">
              <a href="https://github.com/barmath" target="_blank">
                <img src="/static/git.svg">
              </a>
            </div>
     			</div>
     			<p>Email : matheus_barbosa(at)usp.br<p>
          <div clas="resume">
            <a href="/static/resumeMatheusBarbosa.pdf" target="_blank">View resume</a>
          </div>
   		 </di>
       </div>
       <div>
        <i>Last update to this page : Agust, 2021</i>
      </div>
       
     </section>
    


</body>
</html> 
