html{
    scroll-behavior: smooth;
}
hr{
    width: 50vw;
  }

body{
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 12pt;
}

img {
    display:table-cell; 
    vertical-align:middle;
    text-align:center
    text-align: center;
    width: 83vw;
}
.icon {
    background-color: black;
}
span{
    margin-top: 4vw;
    margin-left: 6vw;
    position: fixed;
    color: black;
}
.sidenav {

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;


}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.partOne{
    background-image:url("/static/me.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    height: 100vh;
    text-align: center;
    margin-top: 0vh;
}
.upper{

    color: white;
    position: absolute;
    position: absolute;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.upper h1{
    font-size: 5vh;
    color: black;
    font-family: 'Volkhov', serif;
}
.upper p{
    font-size: 10vh;
    color: white;
    font-family: 'Baloo', cursive;
} 



.partTwo{
    background-color:   #FAF8FE;
    align-items: center;
}
.partTwo h1{
    font-size: 4.5vh;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0; 
}
.partTwo h2{
    color: #00349c;
    margin-bottom: 0px;
}
.partTwo h3{
    color: #9c4122;
    margin-top: 0px;
}
.thingsIveDone a{
  color: #000000;
}
.thingsIveDone img{
  border-radius: 13%;
}

.thingsIveDone{
    width: 83vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
}


.partThree{
    height: 40vh;
    background-color:   #0c7d96;
    align-items: center;
    text-decoration: none;
}
.partThree h1{
    color: white;
    margin-bottom: 0; 
}
.partThree i{
  color: white;
  margin-bottom: 0; 
  font-style: normal;
  font-size: large;
}
.phrase{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
    font-style: bold;
    font-family: 'Rajdhani', sans-serif;
}

.partFive{
    text-align: center;
    height: 70vh;
} 
.partFive h1{
  margin-bottom: 0; 
}
.partFive a{
    color: black;
    height: 70vh;
} 
.partFive img{
    height: 16vh;
    width: auto;
}
.row {
  margin-left: 5vw;
  margin-right: auto;
  width: 80vw;
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.footer{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}
.resume{
  background-color: black;
}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media only screen and (min-width: 679px) {
  span {
    margin-left: -80vw;
  }
  img {
    display:table-cell; 
    vertical-align:left;
    text-align:left;
    width: 15vw;
  }
  .partTwo{
    background-color:   #FAF8FE;
    align-items: inherit;
  }

  .thingsIveDone{
      display: flex;
      width: 60vw;
      margin-left: auto;
      margin-right: auto;
      padding-top: 4vh;
  }
  .column2 {
    width: 45vw;
  }
  .column1{
    width: 20vw;
  }
  .thingsIveDone h2{
    margin-top: 0;
  }
  .footer{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
  }
  .row {
    text-align-last:center; 
    margin-left: 5vw;
    margin-right: auto;
    width: 40vw;
    display: flex;
  }

  .column {
    margin-left: 5vw;
    flex: 50%;
    padding: 5px;
  }

}